.medium {
    background: var(--color-yellow-700);
    padding: 0.1rem 0.7rem;
    border-radius: var(--border-radius-md);
}

.high {
    background: var(--color-red-700);
    padding: 0.1rem 0.7rem;
    border-radius: var(--border-radius-md);
}

.low {
    background: var(--color-blue-700);
    padding: 0.1rem 0.7rem;
    border-radius: var(--border-radius-md);
}

.dragContent {
    position: absolute;
}

.notstarted {
    background: var(--color-grey-700);
    padding: 0.1rem 0.7rem;
    border-radius: var(--border-radius-md);
}

.inprogress {
    background: var(--color-blue-700);
    padding: 0.1rem 0.7rem;
    border-radius: var(--border-radius-md);
}

.done {
    background: var(--color-green-700);
    padding: 0.1rem 0.7rem;
    border-radius: var(--border-radius-md);
}